.eilanden > section {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: end;
    width: 15em;
    aspect-ratio: 1/1;
    border: black 6px dashed;
    position: relative;
}

.items * {
    position: absolute;
    bottom: 130px;
}

/* nigel */

.lantern {
    left: 85px;
    bottom: 132px;
}

.waterval {
    bottom: -2px;
    left: 110px;
}

.hekje {
    left: 109px;
    bottom: 132px;
}

.iglo {
    bottom: 113px;
    left: 133px;
}

/* dennis */

.dennis .items * {
    bottom: 135px;
}

.parasol {
    left: 50px;
}

.bankje {
    left: 100px;
}

.surfplank {
    left: 130px;
}

.dennis .waterval2 {
    left: 155px;
    bottom: 0px;
}

/* casper */

.casper .items * {
    bottom: 127px;
}

.rood {
    left: 25px;
}

.blauw {
    left: 95px;
}

.paars {
    left: 105px;
}

.groen {
    left: 150px;
}

/* daniel */

.struik {
    left: 130px;
}

.waterval3 {
    left: 145px;
    bottom: 0;
}

/* brent */

.brent .items * {
    bottom: 135px;
}

.brent .kist {
    left: 145px;
    bottom: 130px;
}

.vuur {
    left: 70px;
}