* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-image: url("../img/background.jpg");
    background-size: cover;
}

.islands {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.island {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: blue;
}

.main {
    width: 250px;
    height: 250px;
    background-color: blue;
}

.one {
    top: -300px;
}

.two {
    top: -50px;
    left: 500px;
}

.three {
    top: 350px;
    left: 350px;
}

.four {
    top: 350px;
    right: 350px;
}

.five {
    top: -50px;
    right: 500px;
}

.animation {
    animation: popup 1s;
}

@keyframes popup {
    0% {
        transform: scale(1)
    }
    100% {
        transform: scale(1.1);
    }
}

.island > section {
    position: relative;
}

.island > section > svg {
    position: absolute;
    height: 150px;
    width: 150px;
}

.items * {
    position: absolute;
}